:root {
  /* COLOR SCHEME SETTINGS */
  --background: #28262c;
  --primary: #b9baa3;
  --secondary: #d6d5c9;
  --hovered: #bebeb3;
  --tertiary: #0b7a75;
  --tertiary-hovered: #095e59;
  --text: #333;
  --title: #f71735;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.container {
  min-width: 125rem;
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-updated {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--primary);
  bottom: 0;
  transform: translateY(-50%);
}

/* ************* */
/* MENU SETTINGS */
/* ************* */
.menu-grid {
  width: 120rem;
  min-height: 80rem;
  background-color: var(--tertiary);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 2px;
  position: relative;
}

.grid--item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.menu-head {
  justify-self: center;
  align-self: center;
  letter-spacing: 0.3rem;
  color: var(--text);
}

.menu--meal {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}

.menu--meal:hover {
  background-color: var(--hovered);
}

.menu--meal:hover .meal--text:first-child {
  color: var(--title);
}

.menu-title {
  margin-right: 2rem;
  font-size: 3.2rem;
  letter-spacing: 0.4rem;
  color: var(--text);
}

.menu-number {
  color: var(--title);
}

.menu--meal .meal--text:first-child {
  font-weight: 600;
  color: var(--tertiary);
}

.meal--text {
  margin: 0 2.4rem;
  color: var(--text);
}

/* ************ */
/* NAV SETTINGS */
/* ************ */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.nav-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: rgba(164, 167, 170, 0.459); */
  overflow: hidden;
  z-index: 10;
}

.nav-menu {
  width: 30rem;
  height: 80rem;
  background-color: var(--hovered);
  left: 0;
  /* animation: 0.5s linear slide-right; */
}

.nav-menu--opened {
  margin-top: 3.2rem;
}

.nav-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  /* border: 1px solid rgba(240, 248, 255, 0.267); */
}

.nav-menu-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  color: var(--background);
}

.nav-menu-icon:hover {
  transform: scale(1.075);
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3.2rem;
  gap: 3px;
}

.list-item {
  background-color: var(--tertiary);
  width: 100%;
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.list-item:active {
  background-color: var(--tertiary-hovered);
}
.list-item:hover .list-item--text {
  color: var(--primary);
  font-weight: 600;
  letter-spacing: 2px;
}

.list-item:active .list-item--text {
  color: var(--title);
  /* letter-spacing: 1px; */
}

.list-item--text {
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--background);
}

/* ************* */
/* FORM SETTINGS */
/* ************* */
.form-container {
  position: absolute;
  width: 100rem;
  height: 75rem;
  background-color: var(--secondary);
  border: 3px solid var(--tertiary);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9;
}

.form-title {
  font-size: 4rem;
  letter-spacing: 3px;
  color: var(--text);
  margin-bottom: 2rem;
}

.form-information {
  font-size: 1.6rem;
  line-height: 1.5;
}

.email-contact:link,
.email-contact:visited {
  font-weight: 600;
  color: var(--tertiary);
  text-decoration: none;
}
.email-contact:hover,
.email-contact:active {
  color: var(--title);
}

.menu-form {
  margin-top: 3.2rem;
}

.form-header {
  font-size: 2rem;
  font-weight: 500;
  margin: 1.2rem 0 0.4rem;
}

.menu-form--inputs {
  margin-top: 1.2rem;
}

.form-meal-wrapper {
  display: flex;
  gap: 2rem;
}

.close-form-btn {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(50%);
}

.form-submit-btn {
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border-radius: 13px;
  border: none;
  background-color: var(--tertiary);
  box-shadow: 0 0 4px 2px var(--tertiary-hovered);
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.form-submit-btn:hover {
  background-color: var(--tertiary-hovered);
}

.form-submit-btn:active {
  background-color: var(--title);
  box-shadow: 0 0 4px 4px var(--title);

  font-weight: 600;
}

.divider {
  display: flex;
  margin-top: 2rem;
}

.divider--fade-left {
  width: 10rem;
  height: 3px;
  background: linear-gradient(to left, var(--tertiary), #0b7a7400);
}

.divider--center {
  width: 47.5rem;
  height: 3px;
  background-color: var(--tertiary);
}

.divider--fade-right {
  width: 10rem;
  height: 3px;
  background: linear-gradient(to right, var(--tertiary), #0b7a7400);
}

/* *************** */
/* HELPER SETTINGS */
/* *************** */
.hidden {
  display: none;
}

.anim--slide-right {
  animation: 0.5s linear slide-right;
}

.anim--slide-left {
  animation: 0.5s linear slide-left;
}

.anim--blur-overlay {
  animation: 0.5s linear blur-overlay;
}

.anim--unblur-overlay {
  animation: 0.5s linear unblur-overlay;
}

.anim--fade-in {
  animation: 0.5s linear fade-in;
}

.anim--fade-out {
  animation: 0.5s linear fade-out;
}

@keyframes slide-right {
  0% {
    opacity: 35%;
    transform: translateX(-100%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 100%;
    transform: translateX(0);
  }
  100% {
    opacity: 35%;
    transform: translateX(-100%);
  }
}

@keyframes blur-overlay {
  0% {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
  }
}

@keyframes unblur-overlay {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
